body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: row; /* Cambiado de column a row */
    min-height: 100vh;
}

header {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Asegúrate de que el header se extienda a lo largo de la pantalla */
    position: fixed; /* El header se mantiene fijo en la parte superior */
    top: 0;
}
h1 {
    margin-left: 60px;
    padding-bottom: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.login-message {
    font-size: 10px;
    white-space: nowrap;
    padding-right: 2%;
}

nav {
    background-color: #333;
    width: 200px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    height: 100vh; /* Altura completa para el menú lateral */
    box-sizing: border-box; /* Ajusta el box-model para padding y border */
    position: fixed; /* Fijo en el lado izquierdo */
    top: 60px; /* Ajustar según la altura de tu header */
}

nav a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-bottom: 1px solid #444;
    background-color: #333;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
}

.content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 200px; /* Margen izquierdo igual al ancho del menú lateral */
    margin-top: 60px; /* Margen superior igual a la altura del header */
    background-color: #fff;
    overflow-y: auto; /* Añadir desplazamiento si es necesario */
}

.central-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* Opcional, según necesites */
}

.central-content h2 {
    margin-left: 0;
    margin-top: 30px; /* Elimina margin si lo prefieres */
    padding-bottom: 90px;
    text-align: center; /* Asegura que el texto esté centrado si es más largo que una línea */
}

.central-content img {
    margin-top: 90px;
    max-width: 80%; /* Ajusta según necesites para controlar el tamaño de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
}

@media (max-width: 768px) {
    body {
        flex-direction: column; /* Cambia la dirección a columna para móviles */
    }

    header {
        position: relative; /* El header ya no está fijo */
    }

    nav {
        width: 100%;
        height: auto; /* Altura automática para el menú */
        flex-direction: column;
        overflow-x: auto;
        padding-top: 0;
        position: relative; /* El menú ya no está fijo */
        top: auto;
    }

    nav a {
        flex-grow: 1;
        text-align: center;
        border-bottom: none;
        border-right: 1px solid #444;
    }

    .content {
        margin-left: 0; /* Sin margen izquierdo */
        margin-top: 0; /* Sin margen superior */
    }
}

table {
    margin-top: 0px; /* Añade un margen superior a la tabla */
    width: 100%; /* Ajusta la tabla al ancho del contenedor */
    border-collapse: collapse; /* Colapsa los bordes de las celdas para que compartan un solo borde */
    table-layout: fixed; /* Opcional: para que todas las columnas tengan el mismo ancho */
}

th, td {
    border: 1px solid #ddd; /* Añade un borde a las celdas de la tabla */
    text-align: left; /* Alinea el texto a la izquierda */
    padding: 8px; /* Añade relleno dentro de las celdas para separar el texto de los bordes */
}

th {
    background-color: #f2f2f2; /* Añade un color de fondo a las celdas del encabezado */
    font-weight: bold; /* Hace que el texto del encabezado sea en negrita */
}

tr:nth-child(even) {
    background-color: #f9f9f9; /* Añade un color de fondo a las filas pares para mejorar la legibilidad */
}

td {
    font-size: 14px; /* Ajusta el tamaño de la fuente para el contenido de la tabla */
}

.form-login {
    margin-top: 30px; /* Margen superior del formulario */
}

.form-login p {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
  
.form-login label {
   flex-basis: 20%; /* Ajusta este valor según necesites */
   text-align: right;
   margin-right: 10px; /* Espaciado entre la etiqueta y el campo */
}

.form-login .button-container {
    margin-left: 200px;
    justify-content: flex-start; /* Alinea el botón al comienzo (izquierda) */
    padding-top: 30px; /* Añade espacio arriba del botón */
}
  
.obra-form .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.obra-form label {
    width: 20%;
    text-align: right;
    margin-right: 30px;
}

.obra-form input[type="text"], .obra-form select {
    flex-grow: 1;
    min-width: 100px; /* Asegura que el campo de texto tenga al menos 100px de ancho */
    max-width: 300px; /* Asegura que el campo de texto no exceda los 300px de ancho */
}

.obra-form input[type="checkbox"] {
    margin-right: auto; /* Empuja el checkbox hacia la izquierda, alineándolo con el inicio de los textos */
    width: auto; /* Restablece cualquier ancho previamente definido para evitar distorsión */
    flex-grow: 0; /* Evita que el checkbox crezca para llenar el espacio disponible */
}

.obra-form .button-container {    
    margin-left: 300px;
    justify-content: flex-start; /* Alinea el botón al comienzo (izquierda) */
    padding-top: 30px; /* Añade espacio arriba del botón */
}

.nav .main-menu-link {
    margin-top: 30px; /* Añade un margen superior de 30px */
}

.btn-link {
    display: inline-block;
    background-color:  #e9e8e8;; 
    color: #060606; /* Color del texto similar al de los enlaces */
    text-decoration: none; 
    margin-right: 50%;
    padding: 2px 10px; /* Relleno dentro del botón */
    margin-left: 10px; /* Margen a la izquierda para separarlo del checkbox */
    border: 1px solid #00000076; /* Bordes negros */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor a mano al pasar por encima */
}

.btn-link:hover {
    color: #131313b0; /* Oscurece el color del texto al pasar el ratón */
}

/* Estilos específicos para la tabla de calendario */
.calendario-table {
    margin-top: 50px; /* Espacio adicional arriba de la tabla */
}

.calendario-table th, .calendario-table td {
    border: 1px solid black; /* Bordes negros */
    text-align: center;
    padding: 8px;
    font-weight: bold;
}

.calendario-table td a {
    color: black;
    /*background-color: rgba(218, 198, 198, 0.907); /* Fondo rojo para días con obras */
    display: block;
    padding: 5px;
}

/* Estilos para los botones de navegación */
.navigation-links a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 50px;
    margin-right: 30px; /* Espacio entre botones */
    background-color: #f2f2f2; /* Fondo gris claro */
    color: #333; /* Texto oscuro */
    text-decoration: none;
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
}

.navigation-links a:hover {
    background-color: #4a90e2; /* Azul al pasar el ratón */
    color: white; /* Texto blanco al pasar el ratón */
}

/* Separación de botones de navegación */
.navigation-links {
    margin-top: 21px; /* Espacio arriba de los botones */
    text-align: center; /* Centra los botones */
}

.button.margin-right {
    margin-right: 150px; /* Ajusta el valor del margen según necesites */
}

#mensaje-exito {
    color: rgb(2, 5, 2);
    background-color: rgb(244, 252, 244);
    padding: 15px;
    margin: 20px 5px;
    text-align: center;
    border-radius: 10px;
}

/* Botones del formulario */
.obra-form .btn-save, .obra-form .btn-generate-pdf, .obra-form .btn-delete-data {
    margin-top: 50px;
    background-color: rgb(219, 217, 217); /* Color de fondo gris */
    color: black; /* Texto en negro */
    padding: 5px 15px; /* Relleno para aumentar el tamaño */
    font-size: 12px; /* Tamaño de letra */
    border: 1px solid black; 
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor en forma de mano al pasar por encima */
    text-decoration: none; /* Sin subrayado */
    margin-left: 40px; /* Espacio entre botones */
}

.obra-form .btn-save:hover, .obra-form .btn-generate-pdf:hover, .obra-form .btn-delete-data:hover {
    background-color: rgb(175, 174, 174); /* Color de fondo más oscuro al pasar el mouse */
}