<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pevelectric</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <div class="logo">Menú principal</div>
            {% if user.is_authenticated %}
                <div class="login-message">
                    Bienvenido, {{ user.get_username }}
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit">Salir</button>
                    </form>
                </div>
            {% else %}
                <a href="{% url 'login' %}">Iniciar sesión</a>
            {% endif %}
        </div>
    </header>
    <nav class="nav">
        <a href="{% url 'control_diario' %}">Control diario</a>
        {% if puede_ingresar %}
            <a href="{% url 'mostrar_obras' %}"class="main-menu-link">Obras</a>
            <a href="{% url 'mostrar_emergencias' %}">Emergencias</a>
            <a href="#"class="main-menu-link">Facturación</a>
            <a href="#">Remuneración</a>
            <a href="#">Prevención Riesgos</a>
        {% else %}
            <a href="#"class="main-menu-link">Obras</a>
            <a href="#">Emergencias</a>
            <a href="#"class="main-menu-link">Facturación</a>
            <a href="#">Remuneración</a>
            <a href="#">Prevención Riesgos</a>
        {% endif %}
    </nav>
    <main class="content">
        <div class="central-content">
            <h2>Servicios PEVELECTRIC</h2>
            <img src="{% static 'image.jpg' %}" alt="Servicios PEVELECTRIC" style="margin-top: 11px;">
        </div>
    </main>
</body>
</html>
