<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pevelectric</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <div class="logo">Nueva obra</div>
        {% if user.is_authenticated %}
            <div class="login-message">
                Bienvenido, {{ user.get_username }}
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Salir</button>
                </form>
            </div>
        {% else %}
            <a href="{% url 'login' %}">Iniciar sesión</a>
        {% endif %}
    </header>
    <nav class="nav">
        {% if puede_ingresar %}
            <a href="{% url 'crear_obra' %}">Nueva Obra</a>
            <a href="{% url 'crear_emergencia' %}">Nueva emergencia</a> 
            <a href="{% url 'mostrar_obras' %}" class="main-menu-link">Volver a obras</a>
            <a href="{% url 'index' %}"class="main-menu-link">Menú principal</a>
        {% else %}
            <a href="#">Nueva Obra</a>
            <a href="#">Emergencias</a> 
            <a href="#" class="main-menu-link">Volver a obras</a>
            <a href="#">Menú principal</a>
        {% endif %}
    </nav>
    <main class="content">
        <h1>Calendario de Obras - {{ nombre_mes }} {{ año }}</h2>
        <table class="calendario-table">
            <div class="search-box">
                <label for="searchObra">Buscar Obra por Número:</label>
                <input type="text" id="searchObra" name="searchObra">
            </div>
            <tr>
                <th>Lun</th>
                <th>Mar</th>
                <th>Mié</th>
                <th>Jue</th>
                <th>Vie</th>
                <th>Sáb</th>
                <th>Dom</th>
            </tr>
            {% for semana in mes_mostrar %}
            <tr>
                {% for dia in semana %}
                <td data-dia="{{dia.dia}}">
                    {% if dia.dia != 0 %}
                       <a href="{% url 'menu_control_diario' año=año mes=mes dia=dia.dia %}">{{ dia.dia }}</a>
                    {% else %}  
                       {{ dia.dia|default:"" }}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <div class="obra-form">
            <a href="{% url 'control_diario_fecha' año=año_antes mes=mes %}" class="btn-save-l">Año anterior</a>
            <a href="{% url 'control_diario_fecha' año=año_anterior mes=mes_anterior %}" class="btn-save margin-right">Mes anterior</a>
            <a href="{% url 'control_diario_fecha' año=año_siguiente mes=mes_siguiente %}" class="btn-save">Mes siguiente</a>
            <a href="{% url 'control_diario_fecha' año=año_despues mes=mes %}" class="btn-save">Año siguiente</a>
        </div> 
        <div class="obra-form">
            <a href="{% url 'reporte_retiro_material' fecha1=fecha1 fecha2=fecha2 %}" class="btn-generate-pdf margin-right-left">Retiros del mes (PDF)</a>
            <a href="{% url 'reporte_devolucion_material' fecha1=fecha1 fecha2=fecha2 %}" class="btn-generate-pdf">Devoluciones del mes (PDF)</a>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            var inicioObra = JSON.parse('{{ inicio_obra|safe }}');
            $('#searchObra').on('input', function() {
                var textoIngresado = $('#searchObra').val().toLowerCase(); // Obtiene el texto ingresado por el usuario
                $('.calendario-table td').css('background-color', ''); // Limpia cualquier resaltado previo
                if (textoIngresado.length > 0) { // Solo procede si hay texto ingresado
                    Object.entries(inicioObra).forEach(([dia, obras]) => {
                        obras.forEach(obra => {
                            if (obra.toLowerCase().startsWith(textoIngresado)) { // Comprueba si el ID de obra comienza con el texto ingresado
                                // Resalta el día correspondiente en el calendario
                                $(`.calendario-table td[data-dia="${dia}"]`).css('background-color', 'yellow');
                            }
                        });
                    });
                }
            });
        });
    </script>
</body>
</html>