<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pevelectric</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <!-- Incluir jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- Incluir DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <!-- Incluir DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

</head>
<body>
    <header>
        <div class="logo">Emergencias</div>
        {% if user.is_authenticated %}
            <div class="login-message">
                Bienvenido, {{ user.get_username }}
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Salir</button>
                </form>
            </div>
        {% else %}
            <a href="{% url 'login' %}">Iniciar sesión</a>
        {% endif %}
    </header>
    <nav class="nav">
        <a href="{% url 'menu_control_diario' año=fecha.year mes=fecha.month dia=fecha.day %}">Retornar al {{fecha.day}}/{{fecha.month}}/{{fecha.year}}</a>
        <a href="{% url 'control_diario_fecha' año=fecha.year mes=fecha.month %}">Control diario</a>
        <a href="{% url 'crear_obra' %}" class="main-menu-link">Nueva Obra</a>
        <a href="{% url 'crear_emergencia' %}">Nueva emergencia</a>
        <a href="{% url 'index' %}" class="main-menu-link">Menú principal</a>
    </nav>
    <main class="content">
        <h1>Emergencias en desarrollo</h1>
        <h3>Día {{ fecha }}</h3>
        <div class="tablas-container">
            <div class="tabla-emergencia">
                <table id="tablaEmergencias">
                    <thead>
                        <tr>
                            <th>Num</th>
                            <th>Descripción</th>
                            <th>Lugar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for emergencia in emergencias %}
                        <tr>
                            <td class="btn-td"><a href="{% url 'modificar_emergencia' id_emergencia=emergencia.id_emergencia retornar_a='mostrar_emergencias' %}">{{ emergencia.id_emergencia }}</a></td>
                            <td>{{ emergencia.descripcion }}</td>
                            <td>{{ emergencia.lugar }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="3">No hay emergencias registradas aún.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <script>
        $(document).ready(function() {
            // Inicializar DataTables en la tabla de emergencias
            if ($('#tablaEmergencias tbody tr').length > 0) {
                $('#tablaEmergencias').DataTable({
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
                    }
                });
            }
        });
</script>
</body>
</html>
