<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pevelectric</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <!-- Incluir jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- Incluir DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <!-- Incluir DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

</head>
<body>
    <header>
        <div class="logo">Menú control diario</div>
        {% if user.is_authenticated %}
            <div class="login-message">
                Bienvenido, {{ user.get_username }}
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Salir</button>
                </form>
            </div>
        {% else %}
            <a href="{% url 'login' %}">Iniciar sesión</a>
        {% endif %}
    </header>
    <nav class="nav">
        <a href="{% url 'crear_obra' %}">Nueva Obra</a>
        <a href="{% url 'crear_emergencia' %}">Nueva emergencia</a>
        <a href="{% url 'mostrar_obras' %}" class="main-menu-link">Volver a obras</a>
        <a href="{% url 'index' %}" class="main-menu-link">Menú principal</a>
    </nav>
    <main class="content">
        <h1>Retiros Pendientes</h2>
        <table>
            <thead>
                <tr>
                    {% for nombre in cabecera %}
                    <th>{{ nombre }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for obra in datos_obras %}
                <tr>
                    {% for valor in obra.values %}
                        {% if forloop.first %}
                            <td class="btn-td"><a href="{% url 'retiro' obra_id=valor %}">{{ valor }}</a></td>
                        {% else %}
                            <td>{{ valor }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'creaAllPdf' %}" class="content btn-save-t">Generar PDF de retiros pendientes</a>
    </main>
</body>
</html>