<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pevelectric</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <div class="logo">Devolución de material</div>
        {% if user.is_authenticated %}
            <div class="login-message">
                Bienvenido, {{ user.get_username }}
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Salir</button>
                </form>
            </div>
        {% else %}
            <a href="{% url 'login' %}">Iniciar sesión</a>
        {% endif %}
    </header>
    <nav class="nav">
        <a href="{% url 'mostrar_obras' %}" class="main-menu-link">Volver a obras</a>
        <a href="{% url 'index' %}">Menú principal</a>
    </nav>
    <main class="content">
        <h1>Ingrese los siguientes datos:</h1>
        <form method="post" class="obra-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.id_obra.id_for_label }}">Número de Obra</label>
                <span>{{ obra_id }}</span>
            </div>
            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            </div>
            {% endfor %}
            <div class="form-group button-container">
                <button type="submit">Finalizar devolución</button>
            </div>
        </form>        
    </main>
</body>
</html>