<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pevelectric</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <div class="logo">Nueva obra</div>
        {% if user.is_authenticated %}
            <div class="login-message">
                Bienvenido, {{ user.get_username }}
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Salir</button>
                </form>
            </div>
        {% else %}
            <a href="{% url 'login' %}">Iniciar sesión</a>
        {% endif %}
    </header>
    <nav class="nav">
        <a href="{% url 'crear_obra' %}">Nueva Obra</a>
        <a href="#">Emergencias</a> 
        <a href="{% url 'obras_construccion' %}" class="main-menu-link">Volver a obras</a>
        <a href="{% url 'index' %}">Menú principal</a>
    </nav>
    <main class="content">
        <h1>Modificar Obra</h1>
        <form method="post" class="obra-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.id_obra.id_for_label }}">Número de Obra:</label>
                {{ form.id_obra }}
            </div>
            <div class="form-group">
                <label for="{{ form.descripcion.id_for_label }}">Descripción:</label>
                {{ form.descripcion }}
            </div>
            <div class="form-group">
                <label for="{{ form.lugar.id_for_label }}">Lugar:</label>
                {{ form.lugar }}
            </div>
            <div class="form-group">
                <label for="{{ form.si_emergencia.id_for_label }}">Emergencia:</label>
                {{ form.si_emergencia }}
            </div>
            <div class="form-group">
                <label for="{{ form.fecha_inicio.id_for_label }}">Fecha de Inicio:</label>
                {{ form.fecha_inicio }}
            </div>
            <div class="form-group">
                <label for="{{ form.fecha_termino.id_for_label }}">Fecha de Término:</label>
                {{ form.fecha_termino }}
            </div>
            <div class="form-group">
                <label for="{{ form.tipo_obra.id_for_label }}">Tipo de Obra:</label>
                {{ form.tipo_obra }}
            </div>
            <!-- Agrega el campo si_finalizo si es necesario -->
            <div class="form-group">
                <label for="{{ form.si_finalizo.id_for_label }}">Finalizada:</label>
                {{ form.si_finalizo }}
            </div>
            <div class="form-group button-container">
                <button type="submit">Guardar cambios</button>
            </div>
        </form>
    </main>
</body>
</html>
