<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Obras en Construcción</title>
</head>
<body>
    <h1>Obras en Construcción</h1>
    <table>
        <thead>
            <tr>
                <th>Número de Obra</th>
                <th>Descripción</th>
                <th>Lugar</th>
                <th>Material</th>
                <th>Emergencia</th>
            </tr>
        </thead>
        <tbody>
            {% for obra in obras %}
            <tr>
                <td>{{ obra.id_obra }}</td>
                <td>{{ obra.descripcion }}</td>
                <td>{{ obra.lugar }}</td>
                <td>{{ obra.fk_material }}</td>
                <td>{{ obra.emergencia }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No hay obras.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'index' %}">Volver</a>
    <a href="{% url 'crear_obra' %}">Crear Nueva Obra</a>
</body>
</html>
